<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaEscolar3.Properties.Settings.Tecnica3ConnectionString"
            connectionString="Data Source=YHAVET\SQLEXPRESS;Initial Catalog=Tecnica3;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaEscolar3.Properties.Settings.TEC3ConnectionString"
            connectionString="Data Source=DESKTOP-JMH1N0F\SQLEXPRESS;Initial Catalog=TEC3;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaEscolar3.Properties.Settings.TEC3ConnectionString1"
            connectionString="Data Source=DESKTOP-OHA95C8\MSSQLSERVER01;Initial Catalog=TEC3;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>